---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardNotification from '../components/vue/CardNotification.vue';
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-purple-100 flex justify-center items-center">
		<CardNotification client:load></CardNotification>   
		

		


	</div>

	
	
</Layout>


